body{
    text-align: center;
    padding-top: 100px;
}

h1{
    color: blue;
}

#todoContainer{
    margin-bottom: 20px;
}
#todoInput{
    padding: 5px;
    width: 300px;
}

#addButton{
    padding: 5px 10px;
    background-color: green;
    color: beige;
    border: none;
    cursor: pointer;
}

span{
    margin-right: 10px;
    text-decoration: none;
}

.del{
    color: beige;
    background-color: red;
    padding: 5px 10px;  
    border: none;
    cursor: pointer;

}